body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-attachment: fixed;
    background-image: url(http://www.clipular.com/c/5741012562214912.png?k=Tz1nfntmCWeiBB7hBCyZal2e4f0);
    background-repeat: no-repeat;
    background-size: cover;
}

.tree_point {
    position: fixed;
    top: 2vw;
    right: 2vw;
    width: 11rem;
    color: white;
    padding: 0.8rem;
    padding-right: 1.4rem;
    border: solid 5px white;
    height: 5rem;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.75;
    text-align: right;
}

.tree_point span {
    font-size: 2rem;
    font-weight: bold;
}

.tree_icon {
    position: absolute;
    top: 15%;
}

.quiz_list {
   margin-left: 1rem;
   width: 30px;
   height: 20px 
}
    
.question_field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 500px;
    background: lightyellow;
    color: #444;
    opacity: 0.8;
    margin: 1rem;
    padding: 2rem;
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing:2px;
    border-block-end-style: dashed;
    border-block-end-color: cadetblue;
}

.question_field p {
    text-align: center;
}

#quiz_title {
    color: cadetblue;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

table {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

td {
    padding: 1rem;
}

.answer_field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.option_field {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px gray;
    border-radius: 10px;
    letter-spacing:2px;
    flex-flow: column nowrap;
    align-items: center;
}

button.option {
    cursor:pointer;
    width: 25vw;
    margin: 0.5rem;
    padding: 1rem;
    border: solid 2px white;
    border-radius: 8px;
    background: lightyellow;
    color: black;
    opacity: 0.8;
    letter-spacing:2px;
}

button.option_on {
    background: cadetblue;
    color: white;
}

button.option_off {
    background: lightyellow;
    color: black;
}

button.option:hover {
    background: cadetblue;
    color: white;
}

.answer_button {
    cursor:pointer;
    margin-top: 1rem;
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:40px;
    color: white;
    background: cadetblue;
    border: 2px solid cadetblue;
    letter-spacing:1px;
    opacity: 0.8;
    outline: none;
}

button.answer_button:hover {
   background: cadetblue;
   opacity: 0.95;
   cursor:pointer;
} 

.feedback {
    width: 42vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: solid 5px lightgray;
    background: lightyellow;
    color: cadetblue;
    font-size: x-large;
    font-weight: bolder;
    letter-spacing:3px;
    padding: 2rem;
    text-align: center;
    vertical-align: middle;
    opacity: 0.9;
    position: fixed;
    left: 29vw;
    top: 10vh;
}

.feedback_tree {
    font-size: 150px;
    margin: 1.5rem;
    margin-bottom: 2rem;
}

.ok {
    margin-top: 2rem;
    text-align: center;
    vertical-align: middle;
    border: solid 2px cadetblue;
    color: lightyellow;
    background: cadetblue;
    border-radius: 10px;
    cursor: pointer;
    font-size: x-large;
    padding: 0.5rem;
    letter-spacing:3px;
}

.ok:hover {
   background: cadetblue;
   opacity: 0.95;
   cursor:pointer;
} 

.post_Q {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    margin-top: 2rem;
    border: solid 8px lightgray;
    border-radius: 15px;
    background: #94bee0;
    width: 35vw;
    opacity: 0.9;
}

.post_Q_info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post_Q_title {
    width: 85%;
    height: 25px;
    border-radius: 10px;
    font-size: large;
}

.post_Q_content {
    border-radius: 10px;
    font-size: large;
}

button.send_Q {
    cursor:pointer;
    background: lightyellow;
    margin-top: 1rem;
    border: solid 3px white;
    outline:none;
    height: 30px;
    text-align: center;
    width: 80px;
    border-radius:10px;
}

.QA_field {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    border: solid 8px lightgray;
    border-radius: 15px;
    background: #94bee0;
    max-height: 35vw;
    width:35vw;
    opacity: 0.9;
    overflow: scroll;
} 

.QA_row {
    width: 100%;
}

.QA_topic_field {
    display: flex;
    flex-flow: row nowrap;
}

.QA_topic {
    padding: 0.2rem;
    margin: 0.2rem;
    background: lightyellow;
}
    

.post_info {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1rem;
    border: solid 1px lightgray;
    border-radius: 15px;
    background: white;
    opacity: 0.85;
} 

.owner_info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 5px;
} 

.avatar {
    margin-right: 0.5rem;
    width: 30px;
    height: 30px;
}

.post_owner {
    color: dimgray;
    font-size: 0.9rem;
    padding: 0.2rem;
    margin: 0.2rem;
}

.post_time {
    font-size: 0.9rem;
    color: dimgray;
    padding: 0.2rem;
    margin: 0.2rem;
}

.post_title {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0.3rem;
}

.post_content {
}

.post_status{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 0.3rem;
    margin-left: 0.5rem;
    border-radius: 5px;
}
    
.post_vote {
    margin-right: 5px;
    color: red;
    line-height: 15px;
    padding: 0.5rem;
}
    
.vote_up {
    cursor: pointer;
    margin-right: 5px;
    width: 15px;
    height: 15px;
 }

.vote_down {
    cursor: pointer;
    margin-right: 5px;
    width: 15px;
    height: 15px;
 }

.post_reply {
    margin-right: 5px;
    width: 15px;
    height: 15px;
 }

.post_expand {
    margin-right: 5px;
    width: 15px;
    height: 15px;
 }

.same_topic_quiz_field {
    position: fixed;
    left: -1vw;
    top: 15vh;
    color: white;
    background: cadetblue;
    opacity: 0.7;
    font-weight: bolder;
    font-size: medium;
    border-radius: 10px;
    padding: 15px;
}

.same_topic_quiz {
    margin: 0.5rem;
    text-decoration: none;
    color: lightyellow;
    cursor: pointer;
}

.same_topic_quiz_title {
    background: lightyellow;
    padding: 0.3rem 2.4rem;
    border-radius: 1rem;
    letter-spacing: 2px;
    position: relative;
    left: -1.2rem;
    margin: 1rem 0;
    text-align: left;
    color: brown;
    font-size: 1.25rem;
}

.quiz_focus, .same_topic_quiz:hover {
    color: yellow;
    font-size: large;
}

.topic_field {
    z-index: 300;
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: 27vw;
    left: 76vw;
    top: 15vh;
    color: white;
    background: cadetblue;
    opacity: 0.7;
    font-weight: bolder;
    font-size: medium;
    border-radius: 10px;
    padding: 1% 2%;
}

.lv3_topic {
    margin: 0.1rem;
    text-decoration: none;
    color: lightyellow;
    cursor: pointer;
}

.squirrel_wrapper {
    position: relative;
    width: 0px;
    height: 0px;
    left: 46%;
    top: -100px;
}

#squirrel {
    position: absolute;
    z-index: 200;
    width: 180px;
    opacity: 0.8;
}

.widget {
    cursor: pointer;
    position: fixed;
    z-index: 300;
    width: 70px;
    opacity: 0.7;
} 

.widget:hover {
    opacity: 0.9;
}

.status_widget {
    left: 2vw;
    top: 88vh;
}

.search_widget {
    left: 2vw;
    top: 79vh;
}

.point_widget {
    left: 2vw;
    top: 70vh;
}

.QA_widget {
    left: 2vw;
    top: 79vh;
}

.bucket_widget {
    left: 2vw;
    top: 52vh;
}

.map_widget {
    left: 2vw;
    top: 70vh;
}

.hint_box {
    position: fixed;
    bottom: 40vh;
    left: 3vh;
    width: 15vw;
    visibility: hidden;
}


.widget_box {
    padding-top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #94bee0;
    position: fixed;
    z-index: 500;
    left: 12vw;
    top: 10vh;
    width: 76vw;
    height: 80vh;
    opacity: 0.85;
    border-radius: 15px;
    border: 7px lightyellow solid;
}

.box_title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 3px;
}

.box_content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 95%;
    overflow: scroll;
}

.box_close {
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 6px solid white;
    color: dimgray;
    background: lightblue;
    padding: 1.5rem;
    border-radius: 40px;
    font-weight: bold;
    opacity: 0.80;
    letter-spacing: 2px;
}

.box_close:hover {
    opacity: 0.95;
}

.status_quiz_row {
    margin: 0.3rem 0;
    cursor: pointer;
    display: flex;
    width: 90%;
    flex-flow: row nowrap;
    align-items: center;
}

.status_quiz_tried {
    font-size: large;
    background: dimgray;
    padding: 0.5rem;
    color: white;
    margin: 0.3rem;
    opacity: 0.95;
    border-radius: 5px;
    letter-spacing:2px;
}

.status_quiz_check {
    font-size: large;
    text-align: center;
    padding: 0.5rem;
    margin: 0.3rem;
    opacity: 0.9;
    border-radius: 5px;
    letter-spacing:2px;
}

.status_quiz_correct {
    font-size: large;
    background: greenyellow;
    color: black;
    opacity: 0.45;
}

.status_quiz_falied {
    background: red;
    opacity: 0.6;
    color: white;
}

.filter_field {
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    opacity: 0.7;
}

.filter_key {
    cursor: pointer;
    margin: 0.5rem 0.3rem;
    padding: 0.5rem;
    border-radius: 8px;
    background: steelblue;
    color: white;
    letter-spacing: 3px;
    font-size: 1.2rem;
    font-weight: 600;
}

.filter_key:hover {
    opacity: 0.75;
}

.filter_key_on {
    cursor: pointer;
    display: none;
    opacity: 0.95;
    background: yellow;
    color: black;
}

.filter_key:active {
    opacity: 0.6;
    background: lightgreen;
}

.filter_key:visited {
    opacity: 0.6;
    background: red;
}

.fadeToBack {
    opacity: 0.2;
}

.topic {
    margin-right: 0.3rem;
    font-size: medium;
    padding: 0.5rem;
    color: darkslategray;
    opacity: 0.9;
    border-radius: 5px;
    letter-spacing:2px;
}

.topic_focus {
    color: brown;
    font-size: 1.15rem;
}

.lv1 {
    background: aliceblue;
    opacity: 0.8;
}

.lv2 {
    background: azure;
    opacity: 0.9;
}

.lv3 {
    background: lightyellow;
    opacity: 0.7;
}

.status_quiz_time {
    color: darkslategray;
    margin-right: 1rem;
    font-weight: bold;
}

div.topic_field.not_map > ul > li > div.inner.show > div > a {
    margin: 0.6rem 0;
}

div.topic_field.not_map > ul > li > div.inner.show > div > a:hover {
    font-size: 1.15rem;
    color: brown;
}
