main {
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    border: solid 1px #dfdcdc;
    border-radius: 15px;
    margin-bottom: 20px;
}

input {
    width: 300px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.sign-title {
    padding: 5px;
    font-weight: bold;
}


#status {
    font-size: 8px;
    letter-spacing: 1px;
}
